@model IEnumerable<ONE_SMALL_STEP.ViewModels.PersonViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new Person", "Create", "person_old")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screenshot)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.PersonType_personTypeId)
            </th>*@
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screenshot)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.PersonTypeId)
                </td>*@
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item. }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PersonID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PersonID })
                </td>*@
        </tr>
    }

</table>
